<p id="notice"><%= notice %></p>

<h1>Recent Projects</h1>

<div class="row">
  <% @projects.each do |project| %>
    <div class="col s12 l6">
      <div class="card medium">
        <div class="card-image waves-effect waves-block waves-light">
          <%= image_tag(project.image, class: "activator") %>
        </div>
        <div class="card-content">
          <span class="card-title activator white-text"><%= project.name %><i class="mdi-navigation-more-vert right"></i></span>
        </div>
         <div class="card-reveal">
          <span class="card-title black-text lighten-2"><%= project.name %><i class="mdi-navigation-close right"></i></span>
          <p><%= simple_format(project.about) %></p>
        </div>
        <div class="card-action">
          <%= link_to("github repository", project.repo, target: "_blank") %><br>
          <%= link_to("project website", project.url , target: "_blank") %><br>
          <% if admin_signed_in? %>
            <%= link_to("Edit this project", edit_project_path(project)) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

 <!-- only show to admins -->
 <% if admin_signed_in? %>
  <%= link_to 'New Project', new_project_path %>
<% end %>