<p id="notice"><%= notice %></p>

<h1>Recent Projects</h1>

<div class="row">
  
    <% @projects.each do |project| %>
    <div class="col s12 l6">
      <div class="card medium">
        <div class="card-image">
        <%= image_tag("test1.png") %>
        </div>
        <div class="card-content">
          
        </div>
        <div class="card-action">

        </div>
      </div>
      </div>
    <% end %>
  
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>About</th>
      <th>Dev date</th>
      <th>Repo</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.about %></td>
        <td><%= project.dev_date %></td>
        <td><%= project.repo %></td>
        <td><%= project.status %></td>
        <td><%= link_to 'Show', project %></td>
        <!-- show these links only if admin -->
        <% if admin_signed_in? %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 <!-- only show to admins -->
 <% if admin_signed_in? %>
  <%= link_to 'New Project', new_project_path %>
<% end %>