<div class="navbar-container">
  <!-- admin dropdown -->
  <ul class="dropdown-content" id="adminDD">
    <% if admin_signed_in? %>
      <li><%= link_to("add new project", new_project_path) %></li>
      <li><%= link_to("view all projects", projects_path) %></li>
      <li class="divider"></li>
      <li><%= link_to("sign out", destroy_admin_session_path, method: :delete) %></li>
    <% else %>
      <li><%= link_to("sign in", new_admin_session_path) %></li>
    <% end %>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <!-- logo -->
      <%= link_to(root_path , class: "brand-logo") do %>
        <%= image_tag("me.jpg", class: "z-depth-1") %>
        <span>charles milam</span>
      <% end %>

      <!-- hamburger on smaller screens -->
      <%= link_to("#" , class: "button-collapse", data: {activates: "nav-med-down"}) do %>
        <i class="mdi-navigation-menu"></i>
      <% end %>

      <!-- nav links - big screen -->
      <ul class="right hide-on-med-and-down"  id="nav-large">
        <li><%= link_to("about me", root_path) %></li>
        <li><%= link_to("projects", projects_path) %></li>
        <li><%= link_to("resume", pages_resume_path) %></li>
        <li><%= link_to("contact", pages_contact_path) %></li>
        <li>
          <%= link_to("#!", class: "dropdown-button", data: {activates: "adminDD"} ) do %>
            <span>admin</span>
            <i class="mdi-navigation-arrow-drop-down right"></i>
          <% end %>
        </li>
      </ul>
      <!-- nav links - smaller screen -->
      <ul class="side-nav" id="nav-med-down">
        <li><%= link_to("about me", root_path) %></li>
        <li><%= link_to("projects", projects_path) %></li>
        <li><%= link_to("resume", pages_resume_path) %></li>
        <li><%= link_to("contact", pages_contact_path) %></li>
        <li>
          <%= link_to("#!", class: "dropdown-button", data: {activates: "adminDD"} ) do %>
            <span>admin</span>
            <i class="mdi-navigation-arrow-drop-down right"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>