<!DOCTYPE html>
<html>
<head>
  <title>charles milam - portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <%= render "layouts/navbar" %>
  <div class="flash container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
</header>

<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="container">
    <div class="divider"></div>
  </div>
</footer>
<script type="text/javascript">
  $(document).ready(function(){
    // init the various materialize js needed for components.
    $(".button-collapse").sideNav()
    $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on click
      alignment: 'left', // Aligns dropdown to left or right edge (works with constrain_width)
      gutter: 0, // Spacing from edge
      belowOrigin: true // Displays dropdown below the button
    })
    $('.collapsible').collapsible({
      accordion : true // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  })
</script>
</body>
</html>
